---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const collection = await getCollection("items");
const items = collection
  .filter((item) =>
    import.meta.env.PROD ? item.data.status === "featured" : true
  )
  .sort((a, b) => b.data.published.getTime() - a.data.published.getTime());
---

<Layout>
  <ul>
    {
      items.map((item) => {
        return (
          <li>
            <a href={item.data.link} target="_blank" rel="noopener noreferrer">
              <Image
                src={item.data.thumbnail}
                width={1200}
                height={1200}
                alt={item.data.name}
              />
            </a>
            <p>{item.id}.jpg</p>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 728px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  li {
    position: relative;
  }

  a {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: #fff;

    @media (hover: hover) {
      &:hover {
        outline: 1.5px solid var(--accent);
      }
    }
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    line-height: calc(1 / 0.75);
    font-weight: 400;
    color: var(--accent);
  }
</style>
