---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  entries: CollectionEntry<"items">[];
};

const { entries } = Astro.props;
---

<ul>
  {
    entries.map((item) => {
      return (
        <li>
          <a href={item.data.link} target="_blank" rel="noopener noreferrer">
            <Image
              src={item.data.thumbnail}
              width={1200}
              height={1200}
              alt={item.data.name}
            />
          </a>
          <p>{item.id}.jpg</p>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 728px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  li {
    position: relative;
  }

  a {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: #fff;

    @media (hover: hover) {
      &:hover {
        outline: 1.5px solid var(--accent);
      }
    }
  }

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p {
    margin-top: 0.5rem;
    color: var(--gray-500);
  }
</style>
