---
import Navigation from "@/components/navigation.astro";
import Layout from "@/layouts/layout.astro";
import Prose from "@/components/prose.astro";
---

<Layout title="readme.md">
  <Navigation
    items={[
      {
        label: "readme",
        pathname: "/readme",
        extension: ".md",
      },
    ]}
  />
  <Prose>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      sint libero quam, ad rem eos temporibus, quidem provident repellendus
      incidunt assumenda laudantium tempore id perspiciatis. Eius quibusdam
      placeat fugit esse.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      sint libero quam, ad rem eos temporibus, quidem provident repellendus
      incidunt assumenda laudantium tempore id perspiciatis. Eius quibusdam
      placeat fugit esse.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      sint libero quam, ad rem eos temporibus, quidem provident repellendus
      incidunt assumenda laudantium tempore id perspiciatis. Eius quibusdam
      placeat fugit esse.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
      sint libero quam, ad rem eos temporibus, quidem provident repellendus
      incidunt assumenda laudantium tempore id perspiciatis. Eius quibusdam
      placeat fugit esse.
    </p>
  </Prose>
</Layout>
